<body>
    <header><h1>Floatality Hut Database</h1></header>
    <nav>
      [[ 
      <a href="/">Home</a>
        |
      <a href="employees">Employees</a>
        |  
      <a href="locations">Locations</a>
        |  
      <a href="employees_locations">Employees by Location</a>
        |  
      <a href="location_inventory">Location Inventory</a>
        |  
      <a href="products">Products</a>
        |  
      <a href="customers">Customers</a>
        |  
      <a href="sales">Sales</a>
        | 
      <a href="products_in_sales">Products in Sales</a> 
      ]]
    </nav>
        <main>
            <section>
                <h2>Our Mission</h2>
                <p>Floatality Hut operates 5 beachfront stores which accrue a combined
                    $1,500,000 net profit annually, each store averaging 750 monthly sale transactions and
                    1000 monthly customers. Specializing in the sales of knickknacks and towels, each
                    product, although individually valued at no more than $80, possesses a unique touch,
                    with designer towels standing out to be one-of-a-kind. The website-driven database is
                    meticulously designed to track Products, Sales, Employees, and Customers for each of
                    our beachfront Locations. This strategic approach will solve common problems local
                    businesses consistently deal with, such as managing inventory space and storage in
                    order to maximize profits. In other words, it will give insight regarding bestselling and
                    least selling products, which would aid in the decision to increase or decrease inventory
                    sizes for these specific products. Additionally, it will track all Sales made in each
                    Location, as well as employee sales for performance reports on its 35 employees</p>
            </section>
        </main>
</body>